@using TCSA.V2.Components.Admin.Pages
@inherits LayoutComponentBase
@layout TCSA.V2.Components.Layout.MainLayout
@inject NavigationManager NavigationManager

@if (HttpContext is null)
{
    <p>Loading...</p>
}
else
{
    <div class="row dashboard-menu-mobile d-lg-none d-xl-none mt-5 pt-5">
        <DashboardNavMenuMobile />
    </div>
    <div class="dashboard-layout-wrapper row vh-100">
        <div class="col-lg-2 d-lg-block col-sm-12 d-sm-none">
            <DashboardNavMenu />
        </div>
        <div class="col-lg-8 col-sm-12">
            @Body
        </div>
        <div class="col-lg-2 d-lg-block d-sm-none">
            <DashboardExtrasMenu />
        </div>
    </div>
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}

