@using TCSA.V2.Components.Admin.Pages
@inherits LayoutComponentBase
@layout TCSA.V2.Components.Layout.MainLayout

<div class="row d-lg-none d-xl-none mt-5 pt-5">
    <DashboardNavMenuMobile />
</div>
<div class="dashboard-layout-wrapper row vh-100">
    <div class="col-lg-2 fixed-column fixed-left d-lg-block col-sm-12 dash-nav-menu">
        <DashboardNavMenu />
    </div>
    <div class="col-lg-8 scrollable-body col-sm-12">
        @Body
    </div>
    <div class="col-lg-2 fixed-column fixed-right d-lg-block dash-nav-menu">
        <DashboardExtrasMenu />
    </div>
</div>

<style>
   

</style>