@using TCSA.V2.Helpers
@using TCSA.V2.Models
@using TCSA.V2.Services
@inject NavigationManager NavigationManager

<div class="dashboard-menu pt-5 text-center h-100">
    <div class="row dashboard-side-card rounded">
        <div class="col-12 dashboard-side-card-text">
            Code Reviews Available
        </div>
        <div class="col-12 dashboard-side-card-number">
            @AvailableReviews
        </div>
    </div>
    <div class="row dashboard-side-card rounded">
        <div class="col-12 dashboard-side-card-text">
            Community Project Issues Available
        </div>
        <div class="col-12 dashboard-side-card-number">
            @AvailableIssues
        </div>
    </div>
</div>

@code {
    [Inject] private IProjectService ProjectService { get; set; }
    [Inject] private ICommunityService CommunityService { get; set; }
    [Inject] private IPeerReviewService PeerReviewService { get; set; }
    private List<Issue>? Issues;

    public int AvailableReviews { get; set; }
    public int AvailableIssues { get; set; }
    public bool CodeReviewsAvailable { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Issues = IssueHelper.GetIssues();
        AvailableIssues = await CommunityService.GetAvailableIssuesForDashboard();
        AvailableReviews = await PeerReviewService.GetAvailablePeerReviews();
        //await GetAvailableIssues();
    }

    private async Task NavigateToCodeReviews()
    {
        NavigationManager.NavigateTo("/dashboard/peer-reviews"); // Replace "/otherpage" with the desired URL
    }

    private async Task GetAvailableIssues()
    {
        foreach (var issue in Issues)
        {
            var project = await CommunityService.GetIssueById(issue.Id);

            if (project == null)
            {
                AvailableIssues += 1;
            }
        };
    }
}

<style>
    .dashboard-menu {
        background-color: #1C236D;
    }

    .dashboard-side-card {
        padding-top: 10px;
        margin: 10px;
        color: white;
        background-color: rgba(255, 255, 255, 0.37);
    }

    .dashboard-side-card-text {
        font-weight: 600;
    }

    .dashboard-side-card-number {
        font-size: 60px;
        font-weight: 600;
    }
</style>