@using TCSA.V2.Helpers
@using TCSA.V2.Models
@using TCSA.V2.Services
@inject NavigationManager NavigationManager


<div class="nav-scrollable dashboard-menu pt-5 h-100">
    <nav class="flex-column">
        <div class="dashboard-menu pt-5 text-center h-100">
            <div class="row dashboard-side-card rounded">
                <div class="col-12 dashboard-side-card-text">
                    Code Reviews Available
                </div>
                <div class="col-12 dashboard-side-card-number">
                    @AvailableReviews
                </div>
            </div>
            <div class="row dashboard-side-card rounded">
                <div class="col-12 dashboard-side-card-text">
                    Community Project Issues Available
                </div>
                <div class="col-12 dashboard-side-card-number">
                    @AvailableIssues
                </div>
            </div>
        </div>
    </nav>
</div>

@code {
    [Inject] private ICommunityService CommunityService { get; set; }
    [Inject] private IPeerReviewService PeerReviewService { get; set; }

    private int AvailableReviews { get; set; }
    private int AvailableIssues { get; set; }
    private bool CodeReviewsAvailable { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AvailableIssues = await CommunityService.GetAvailableIssuesCount();
        AvailableReviews = await PeerReviewService.GetAvailablePeerReviews();
    }

    private async Task NavigateToCodeReviews()
    {
        NavigationManager.NavigateTo("/dashboard/peer-reviews"); 
    }
}

<style>
    .dashboard-menu {
        background-color: #1C236D;
    }

    .dashboard-side-card {
        padding-top: 10px;
        margin: 10px;
        color: white;
        background-color: rgba(255, 255, 255, 0.37);
    }

    .dashboard-side-card-text {
        font-weight: 600;
    }

    .dashboard-side-card-number {
        font-size: 60px;
        font-weight: 600;
    }
</style>