@using TCSA.V2.Components.UI.SVGs
<div class="dashboard-menu pt-5 h-100" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" @onclick="NavigateToDashboard" title="Main">
                <span class="bi bi-plus-square-fill-nav-menu tw-flex-shrink-0"></span><span class="ms-2">Main</span>
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" @onclick="NavigateToSubmitProject" title="Submit Project">
                <SubmitProjectSVG /> <span class="ms-2 tw-whitespace-nowrap">Submit Project</span>
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" @onclick="NavigateToRoadmap" title="Roadmap">
                <MapSVG /> <span class="ms-2">Roadmap</span>
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" @onclick="NavigateToLeaderboard" title="Leaderboard">
                <TrophySVG /> <span class="ms-2">Leaderboard</span>
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" @onclick="NavigateToActivity" title="Activity">
                <ActivitySVG /> <span class="ms-2">Activity</span>
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" @onclick="NavigateToProfile" title="Profile">
                <ProfileSVG /> <span class="ms-2">Profile</span>
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" @onclick="NavigateToPeerReviews" title="Peer Reviews">
                <PeerReviewsSVG /> <span class="ms-2 tw-whitespace-nowrap">Peer Reviews</span>
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" @onclick="NavigateToCommunity" title="Community">
                <CommunitySVG /> <span class="ms-2">Community</span>
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" @onclick="NavigateToChallenges" title="Challenges">
                <PuzzleSVG /> <span class="ms-2">Challenges</span>
            </a>
        </div>
    </nav>
</div>

@code {
    [Inject] NavigationManager NavigationManager { get; set; }
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    private void NavigateToDashboard() => NavigationManager.NavigateTo("dashboard", true);
    private void NavigateToSubmitProject() => NavigationManager.NavigateTo("dashboard/submit-project", true);
    private void NavigateToRoadmap() => NavigationManager.NavigateTo("dashboard/roadmap", true);
    private void NavigateToLeaderboard() => NavigationManager.NavigateTo("dashboard/leaderboard", true);
    private void NavigateToActivity() => NavigationManager.NavigateTo("dashboard/activity", true);
    private void NavigateToProfile() => NavigationManager.NavigateTo("dashboard/profile", true);
    private void NavigateToPeerReviews() => NavigationManager.NavigateTo("dashboard/peer-reviews", true);
    private void NavigateToCommunity() => NavigationManager.NavigateTo("dashboard/community", true);
    private void NavigateToChallenges() => NavigationManager.NavigateTo("dashboard/challenges", true);

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

<style>
    .dashboard-menu {
        background-color: var(--primary-color);
    }

    .dashboard-menu-item-text {
        font-size: 16px;
        font-weight: 500;
    }

    span.ms-2 {
        color: var(--text-light-color);
    }
</style>
