@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Helpers
@using TCSA.V2.Models
@using TCSA.V2.Services

<div class="row extras-row-mobile">
    <div class="col-6 text-center dashboard-extras-mobile h-100">
        <div class="row dashboard-side-card rounded">
            <div class="col-12 dashboard-side-card-text">
                Reviews Available
            </div>
            <div class="col-12 dashboard-side-card-number-mobile">
                @AvailableReviews
            </div>
        </div>
    </div>
    <div class="col-6 text-center dashboard-extras-mobile h-100">
        <div class="row dashboard-side-card rounded">
            <div class="col-12 dashboard-side-card-text">
                Issues Available
            </div>
            <div class="col-12 dashboard-side-card-number-mobile">
                @AvailableIssues
            </div>
        </div>
    </div>
</div>
    
@code {
    [Inject] private ICommunityService CommunityService { get; set; }
    [Inject] private IPeerReviewService PeerReviewService { get; set; }

    private string? currentUrl;
    private List<Issue>? Issues;
    private int AvailableReviews { get; set; }
    private int AvailableIssues { get; set; }
    private bool CodeReviewsAvailable { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AvailableIssues = await CommunityService.GetAvailableIssuesCount();
        AvailableReviews = await PeerReviewService.GetAvailablePeerReviews();
    }
}

<style>
    .dashboard-side-card-text-mobile {
        font-weight: 600;
        font-size: 14px;
    }

    .dashboard-menu-item-text {
        font-size: 16px;
        font-weight: 500;
    }

    .dashboard-extras-mobile {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .dashboard-side-card-number-mobile {
        font-size: 30px;
        font-weight: 700;
    }

    .extras-row-mobile {
        background-color: #1C236D;
        --bs-gutter-x: 0 !important;
        padding-right: 10px;
        padding-left: 10px;
    }
</style>