@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Helpers
@using TCSA.V2.Models
@using TCSA.V2.Services
@implements IDisposable

@inject NavigationManager NavigationManager

<div class="nav-row-mobile">
    <input type="checkbox" title="Navigation menu" class="navbar-toggler navbar-toggler-dashboard-mobile ms-3 mt-1 nav-row-mobile" />
    <div class="nav-scrollable pt-1 h-100" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                    <span class="bi bi-plus-square-fill-nav-menu"></span>Main
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard/submit-project">
                    <SubmitProjectSVG /> <span class="ms-2">Submit Project</span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard/roadmap">
                    <MapSVG /> <span class="ms-2">Roadmap</span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard/leaderboard">
                    <TrophySVG /> <span class="ms-2">Leaderboard</span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard/activity">
                    <ActivitySVG /> <span class="ms-2">Activity </span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard/profile">
                    <ProfileSVG /> <span class="ms-2"> Profile </span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard/peer-reviews">
                    <PeerReviewsSVG /> <span class="ms-2"> Peer Reviews </span>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard/community">
                    <CommunitySVG /> <span class="ms-2"> Community </span>
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    [Inject] private ICommunityService CommunityService { get; set; }
    [Inject] private IPeerReviewService PeerReviewService { get; set; }

    private string? currentUrl;
    private List<Issue>? Issues;
    private int AvailableReviews { get; set; }
    private int AvailableIssues { get; set; }
    private bool CodeReviewsAvailable { get; set; }

    protected override async Task OnInitializedAsync()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;

        AvailableIssues = await CommunityService.GetAvailableIssuesCount();
        AvailableReviews = await PeerReviewService.GetAvailablePeerReviews();
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

<style>
    .navbar-toggler-dashboard-mobile {
        color: black !important;
        position: initial !important;
        border: none;
        width: none;
    }

    .nav-row-mobile {
        background-color: black;
        margin-top: -20px;
    }
</style>