:root {
    --background-color: #ffffff;
    --disabled-background-color: #E9ECEF;
    --text-color: #000000;
    --text-dark-color: black;
    --text-light-color: #d7d7d7;
    --text-highlight-color: #1C236D;
    --text-alert-color: #d50000;
    --modal-background-color: #fefefe;
    --modal-border-color: #888;
    --focus-color: #258cfb;
    --valid-color: #26b050;
    --invalid-color: #e50000;
    --error-boundary-color: #b32121;
    --darker-border-color: #929292;
    --primary-color: #1C236D;
    --primary-light-color: #1C236D;
    --card-primary-color: white;
    --card-button-primary-color: #1C236D;
}

.dark-theme {
    --background-color: #191B19;
    --disabled-background-color: #4b4b4b;
    --text-color: #aeaeae;
    --text-dark-color: #ffffff;
    --text-light-color: #aeaeae;
    --text-highlight-color: #8789C0;
    --text-alert-color: #823c3c;
    --modal-background-color: #4b4b4b;
    --modal-border-color: #272525;
    --focus-color: #1b6cc1;
    --valid-color: #1b8039;
    --invalid-color: #b40101;
    --error-boundary-color: #761515;
    --darker-border-color: #605f5f;
    --primary-color: #000753;
    --primary-light-color: #8789C0;
    --card-primary-color: #8789C0;
    --card-button-primary-color: #8789C0;
}

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: auto;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem var(--background-color), 0 0 0 0.25rem var(--focus-color);
}

.nav-link {
    font-size: 16px;
    color: var(--primary-light-color);
    font-weight: 500;
}

.card {
    background-color: var(--card-primary-color);
    color: var(--text-dark-color);
}

input.form-control,
select.form-select {
    background-color: var(--background-color);
    color: var(--text-dark-color);
}

input.form-control:focus,
select.form-select:focus {
    background-color: var(--background-color);
    color: var(--text-dark-color);
}

input.form-control:disabled,
select.form-select:disabled {
    background-color: var(--disabled-background-color);
    color: var(--text-dark-color);
}

table,
td,
th {
    background-color: var(--background-color);
    color: var(--text-dark-color);
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid var(--valid-color);
}

.invalid {
    outline: 1px solid var(--invalid-color);
}

.validation-message {
    color: var(--invalid-color);
    ;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, var(--error-boundary-color);
    padding: 1rem 1rem 1rem 3.7rem;
    color: var(--background-color);
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

.darker-border-checkbox.form-check-input {
    border-color: var(--darker-border-color);
}

.container {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.area-title-text {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

@media (max-width: 992px) {
    .roadmap-image {
        width: 35px !important;
    }

    .horizontal-card-roadmap {
        background-color: var(--background-color) !important;
    }

    .project-banner {
        margin-top: 80px;
    }

    .dashboard-layout-wrapper {
        padding-left: 5px;
        padding-right: 5px;
    }

    .dashboard-container {
        padding: 2px;
    }

    .title-desktop {
        display: none !important;
    }

    .title-mobile {
        margin-top: 150px;
    }

    .container {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .latest-updates {
        padding-left: 10px !important;
    }

    .container {
        width: 95% !important;
    }

    .right-side {
        margin-left: 0px !important;
    }

    .horizontal-card-desktop {
        display: none !important;
    }

    .dashboard-project-card-desktop {
        display: none !important;
    }

    .modal-content {
        width: 100% !important;
        margin-top: 100px;
    }
}

@media (min-width: 992px) {
    .modal-content {
        background-color: var(--modal-background-color);
        margin: 15% auto;
        padding: 20px;
        border: 1px solid var(--modal-background-color);
        width: 120%;
        position: relative;
    }

    .title-desktop {
        margin-top: 100px;
    }

    .title-mobile {
        display: none !important;
    }

    .top-menu {
        max-height: 50px;
    }

    .horizontal-card-mobile {
        display: none !important;
    }
}

@media (min-width: 766px) {
    .title-image {
        margin-top: 100px;
    }
}