@using TCSA.V2.Components.UI
@inherits LayoutComponentBase

<div class="page">
    <main>
        <TopMenu />
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
