
@using TCSA.V2.Data
@using TCSA.V2.Helpers
@using TCSA.V2.Models
@using TCSA.V2.Models.DTO
@using TCSA.V2.Services
@using System.Security.Claims
@using System;
@using System.Linq;
<div class="mt-5">
    <h5>Areas</h5>
    <div class="listgroup" Style="width:180px;font-size:12px">
        @foreach (var area in Areas)
        {
            var localArea = area;
            <button type="button" class="list-group-item list-group-item-action" @onclick="()=>HandleClick(localArea)">@area</button>
        }
    </div>
</div>





@code {
    [Parameter] public EventCallback<string> OnClickCallback { get; set; }
    [Parameter] public List<string> Areas { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Areas.Add("All");
    }

    private async Task HandleClick(string area)
    {
        if (OnClickCallback.HasDelegate)
        {
            await OnClickCallback.InvokeAsync(area);
        }
    }
}
