@using TCSA.V2.Models
<div class="m-2">
    @((MarkupString)Item.Link)
    <p>@Item.ProjectName</p>
    <p>@Item.UserName @Item.UserLastName</p>

</div>
    
@code {
    [Parameter]
    public ShowcaseItem Item { get; set; }

}
