@using TCSA.V2.Components.UI
@using TCSA.V2.Helpers
@using TCSA.V2.Models
<div class="container w-75">
    <div class="row justify-content-center">
        <h1 class="display-4 justify-content-center area-title-text">How it Works</h1>
        @foreach (var article in Articles.Where(x => x.Area == Area.HowItWorks))
        {
             <Card Type=Enums.CardType.Card
                   Title=@article.Title
                   Description=@article.Description
                   IconUrl=@article.IconUrl />
        }
    </div>
</div>

@code {
    [Parameter] public List<Article> Articles { get; set; }
}
