<div class="jumbotron jumbotron-fluid latest-updates">
    <div class="container latest-updates-container">
        <p class="latest-updates-title">Latest Updates</p>
        <p class="latest-updates-list">2024-Sep-27 : Published the <a href='article/30005/separation-of-concerns-csharp' target='_blank' class="latest-updates-link">Separation of Concerns</a> article</p>
        <p class="latest-updates-list">2024-Sep-27 : Launched the <a href='articles' target='_blank' class="latest-updates-link">Articles Page</a></p>
    </div>
</div>

@code {

}

<style>
    .latest-updates {
        padding-left: 100px;
        background-color: #D62A2A;
        color: white;
        font-weight: 500;
    }

    .latest-updates-container {
        padding: 10px 0 5px 0;
    }


    .latest-updates-title {
        font-family: Roboto, sans-serif;
        font-size: 20px;
    }

    .latest-updates-list {
        margin-top: -15px;
        font-family: Roboto, sans-serif;
        font-size: 15px;
    }

    .latest-updates-link {
        color: black;
        font-weight: 600;
    }

    .latest-updates-link {
        color: white;
        text-decoration: underline;
    }
</style>