<div class="jumbotron jumbotron-fluid main-jumbotron">
    <div class="container">
        <div class="row">
            <div class="title-desktop col-xl-6 col-lg-6 d-flex align-items-center">
                <div>
                    <h1 class="display-1 fw-bolder">THE C# <br />ACADEMY</h1>
                    <p class="lead fw-bolder">Learn with Projects!</p>
                    <p class="last-updated">Last Updated: Apr-03-2024</p>
                </div>
            </div>
            <div class="title-mobile col-xl-6 col-md-6 col-lg-6 d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="display-1 text-center">THE C# <br />ACADEMY</h1>
                    <p class="lead text-center">Learn with Projects!</p>
                    <p class="last-updated text-center">Last Updated: Sep-29-2024</p>
                </div>
            </div>
            <div class="title-image col col-md-6">
                <img class="img-fluid" src="img/main-banner.gif" />
            </div>
        </div>
    </div>
</div>

@code {

}

<style>
    .jumbotron {
        background-color: var(--background-color);
        color: var(--text-color);
    }

    .lead {
        margin-top: -10px;
        color: var(--text-lead-color);
    }

    .last-updated {
        font-size: 15px;
        margin-top: -15px;
        color: var(--text-alert-color) !important;
        font-weight: 600
    }

    .title-desktop {
        padding-left: 50px;
    }
</style>