@using static TCSA.V2.Helpers.Enums
<div class="card-slot col-lg-3 col-md-6">
    <div class="card card-index shadow rounded-lg text-center" style="width: 18rem;">
        @if (IsReleased)
        {
            <a href="@Href" class="stretched-link" target="_blank">
                <img class="card-img-top" src="img/Cards/@IconUrl" alt="Card image cap">
            </a>
        }
        else
        {
            <div>
                <img class="card-img-top" src="img/Cards/@IconUrl" alt="Card image cap">
            </div>
        }

        <div class="card-body">
            <h5 class="card-title">@Title</h5>
            @if (!IsReleased)
            {
                <span class="release-date">(Release date: @ReleaseDate.ToString("MMM/dd/yy"))</span>
            }
            <p class="card-text">@Description</p>
        </div>
    </div>
</div>

@code {
    [Parameter] public CardType Type { get; set; }
    [Parameter] public DateTime ReleaseDate { get; set; }
    [Parameter] public string Href { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public string IconUrl { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Slug { get; set; }
    [Parameter] public string Description { get; set; }
    private bool IsReleased { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        Href = Type == CardType.Article ? $"article/{Id}/{Slug}" : $"project/{Id}/{Slug}";
        IsReleased = ReleaseDate < DateTime.Now;
    }
}

<style>
    .card-slot {
        margin-bottom: 2rem;
    }

    .card-img-top {
        max-width: 100px;
    }

    .card-index {
        border: none;
        border-radius: 15px;
        padding: 30px 0;
        min-height: 100%;
        width: 100% !important;
        transition: all 200ms ease-in-out;
    }

    .card-no-transition {
        transition: none;
    }

        .card-no-transition:hover {
            transform: none !important;
        }

    .card:hover {
        transform: scale(1.05);
    }

    .card-title {
        font-size: 20px;
        font-family: Roboto;
        color: #1C236D;
        font-weight: 600;
    }

    .release-date {
        color: red;
        font-weight: 500;
    }

    .card-text {
        margin-top: 10px;
    }
</style>

