@using TCSA.V2.Components.UI.SVGs
<div class="row horizontal-card-desktop horizontal-card d-flex align-items-center shadow rounded-lg">
    <div class="row g-0">
        <div class="col-sm-1 col-md-1 d-flex align-items-center">
            <img src="img/cards/@IconUrl" class="img-fluid horizontal-card-img" alt="...">
        </div>
        <div class="col-sm-8 @(HasButton ? "col-md-8" : "col-md-11")">
            <p class="card-title-dashboard">@CardName</p>
            <p class="card-text"><small>@((MarkupString)Description)</small></p>
        </div>
        @if (HasButton)
        {
            <div class="col-sm-1 col-md-3 d-flex align-items-center">
                <button class="btn view-articles-btn" @onclick="OnClickCallback">
                    <DropdownSVG />
                </button>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public EventCallback OnClickCallback { get; set; }
    [Parameter] public string IconUrl { get; set; }
    [Parameter] public string CardName { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public bool IsComplete { get; set; }
    [Parameter] public bool HasButton { get; set; } = true;
}

<style>
    table {
        width: 100%;
    }

    .button-th {
        text-align: right;
        width: 10%
    }

    .text-th {
        text-align: left;
        width: 70%;
    }

    .icon-th {
        text-align: center;
        width: 20%;
    }

    .view-articles-btn {
        background-color: #1c236d;
        color: white;
    }

    .horizontal-card-desktop {
        padding: 20px;
    }

    .horizontal-card-img {
        width: 60px;
    }

    .card-title-dashboard {
        font-size: 18px;
        font-family: Roboto, sans-serif;
        color: #1C236D;
        font-weight: 600;
    }

</style>
