
<a href="@Href">
    <button class="btn next-btn" type="button">Next</button>
</a>

@code {
    [Parameter]
    public string Href { get; set; }
}

<style>
    .next-btn {
        background-color: var(--primary-color);
        color: white;
        transition: opacity .2s;
    }

    .next-btn:hover {
        background-color: var(--primary-color);
        color: white;
    }
</style>