<button class="toggle-btn" @onclick="ToggleCompleted">@(Active ? "Show" : "Hide") @Name</button>

@code {
    [Parameter] public EventCallback OnToggle { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public bool Active { get; set; }

    private void ToggleCompleted()
    {
        OnToggle.InvokeAsync();
    }
}

<style>
    .toggle-btn {
        background: #6B6CA3;
        border: none;
        border-radius: 15px;
        color: white;
        padding: 5px 10px;
        transition: opacity .2s ease-in-out;
    }
    
    .toggle-btn:hover {
        opacity: 0.5;
    }
</style>