@page "/Dashboard/Activity"
@using TCSA.V2.Components.Dashboard.Shared
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>
<h1>Activity</h1>

@code {

}
