@using TCSA.V2.Components.UI
@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Models

<HorizontalCard IsComplete=@IsComplete
                CardName=@CardName
                Description=@Description
                IconUrl=@IconUrl />

<div class="ps-3">
    @if (ProjectToggle)
    {
        <CloseButtonSVG OnClickCallback="@ToggleProjects" />
        @foreach (var project in Projects.Where(x => x.Area == Area.Console && x.Difficulty == Difficulty.Intermediate))
        {
            <DashboardProjectCard Project="project"
                                  Status="@GetProjectStatus(project.Id)" />
        }
    }
</div>

@code {
    [Parameter] public List<Project> Projects { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public string CardName { get; set; }
    [Parameter] public string IconUrl { get; set; }
    [Parameter] public bool IsComplete { get; set; }

    private bool ProjectToggle;

    private string GetProjectStatus(int id)
    {
        return "";
    }

    private void ToggleProjects() => ProjectToggle = !ProjectToggle;
}
