@using TCSA.V2.Data
@using TCSA.V2.Helpers
<div class="row horizontal-card dashboard-header d-flex align-items-center shadow rounded-sm">
    <div class="col-10">
        <div class="belt-label-wrap">
            <div class="belt-label">
                <img src=@FlagUrl width="50" class="rounded flag" alt="...">
            </div>
            <div class="belt-label">
                <p class="user-name">@DisplayName</p>
            </div>
        </div>

        <div class="belt-label-wrap">
            <div class="belt-label">
                <img src=@BeltImgUrl width="25" class="img-belt-header" alt="...">
            </div>
            <div class="belt-label">
                <p class="user-level-text">
                    @(Level) Belt,
                    <span class="ranking">@LeaderboardHelper.GetRanking(Ranking),</span>
                    <span class="experience-points">
                        <img src="img/experience.png" width="25" class="img-xp-header" alt="..." />
                        @ExperiencePoints
                    </span>
                </p>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter] public int ExperiencePoints { get; set; }
    [Parameter] public int Ranking { get; set; }
    [Parameter] public string BeltImgUrl { get; set; }
    [Parameter] public string DisplayName { get; set; }
    [Parameter] public string FlagUrl { get; set; }
    [Parameter] public Level Level { get; set; }
}

<style>
    .dashboard-header {
        padding: 20px 0 10px 0;
    }

    .user-level-text {
        margin-left: 10px;
        margin-bottom: 0;
    }

    .belt-label {
        display: inline-block;
    }

    .belt-label-wrap {
        white-space: nowrap;
        padding-left: 10px;
    }

    .experience-points {
        font-weight: 900;
    }

    .img-belt-header {
        width: 50px;
    }

    .img-xp-header {
        width: 35px;
        margin-right: -5px;
        padding-bottom: 5px;
    }

    .flag {
        border: 1px solid lightgrey;
    }

    .user-name {
        font-size: 20px !important;
        margin-left: 10px;
        font-weight: 600;
    }

    .img-belt-header {
        width: 30px !important;
    }

</style>
