@using TCSA.V2.Components.UI
@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Helpers
@using TCSA.V2.Models

<HorizontalCard CardName=@CardName
                IsComplete=@IsComplete
                IconUrl=@IconUrl
                Description=@Description
                OnClickCallback="@ToggleSteps"
                HasButton=true />

@if (Steps)
{
    <div>
       <CardsModal Steps="@Steps" ToggleSteps="@ToggleSteps">
        @foreach (var project in Projects)
        {
            <DashboardProjectCard Project=@project
                                  Status=@GetStatus(project.Id) />
        }
        </CardsModal>
    </div>
}

@code {
    [Parameter] public bool IsComplete { get; set; }
    [Parameter] public string CardName { get; set; }
    [Parameter] public string IconUrl { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public IEnumerable<Article> Projects { get; set; }
    [Parameter] public List<int> PendingProjects { get; set; }
    [Parameter] public List<int> CompleteProjects { get; set; }

    private bool Steps;

    private string GetStatus(int id)
    {
        if (PendingProjects.Contains(id))
        {
            return "pending-review";
        }

        if (CompleteProjects.Contains(id))
        {
            return "completed";
        }

        return "";
    }

    private void ToggleSteps() => Steps = !Steps;
}
