@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Models

<div class="row horizontal-card horizontal-card-desktop shadow rounded-sm d-flex align-items-center @Status">
    <div class="row g-0">
        <div class="col-md-1">
            <img src="img/Cards/@Project.IconUrl" class="img-fluid card-img horizontal-card-img" alt="...">
        </div>
        <div class="col-md-5">
            <p class="card-title-dashboard">@Project.Title</p>
            <p class="project-card-text">@Project.Description</p>
        </div>
        <div class="col-md-3 text-center">
            @if (Status == "completed")
            {
                <CheckCircleSVG />

                <p class="card-text-complete"><small>Completed</small></p>
            }
            else if (Status == "pending-review")
            {
                <PendingReviewSVG />
            }
        </div>
        <div class="col-md-3 d-flex align-items-center">
            <a href="project/@Project.Id" class="btn view-project-btn" target="_blank">View Project</a>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Status { get; set; }
    [Parameter] public Project Project { get; set; }
}

<style>
    .horizontal-card-desktop {
        padding: 20px;
    }

    .horizontal-card-img {
        width: 60px;
    }

    .card-title-dashboard {
        font-size: 18px;
        font-family: Roboto, sans-serif;
        color: #1C236D;
        font-weight: 600;
    }
</style>