@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Models
<div class="row horizontal-card horizontal-card-desktop shadow rounded-sm @Status">
    <div class="row g-0">
        <div class="col-md-1">
            <img src="img/cards/@Article.IconUrl" class="img-fluid card-img horizontal-card-img" alt="...">
        </div>
        <div class="col-md-4">
            <p class="card-title-dashboard">@Article.Title</p>
            <p class="card-text"><small class="text-muted">Article</small></p>
        </div>
        <div class="col-md-4 text-center">
            @if (Status == "completed")
            {
                <CheckCircleSVG/>

                <p class="card-text-complete"><small>Completed</small></p>
            }
        </div>
        <div class="col-md-3">
            <a href="article/@Article.Id/@Article.Slug" class="btn view-articles-btn">View Article</a>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Status { get; set; }
    [Parameter] public Article Article { get; set; }
}

<style>
    .horizontal-card-desktop {
        padding: 20px;
    }

    .horizontal-card-img {
        width: 60px;
    }

    .card-title-dashboard {
        font-size: 18px;
        font-family: Roboto, sans-serif;
        color: #1C236D;
        font-weight: 600;
    }
</style>
