@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Models

<div class="row p-2 horizontal-card-issue shadow rounded @Status">
    <div class="col-2">
        <img src="img/cards/@Issue.IconUrl" width="50" alt="...">
    </div>
    <div class="col-6 tw-flex tw-flex-col tw-gap-6">
        <div class-issue-description>
            <p class="card-title-issue">@Issue.Title</p>
        </div>
        <div class="experience-points-issue d-flex align-items-center">
            <img src="img/experience.png" width="25" class="img-xp-header" alt="..." />
            @Issue.ExperiencePoints
        </div>
    </div>
    <div class="col-2 d-flex align-items-center justify-content-center">
        @if (!IsAssigned)
        {
            <div class="row text-center">
                <div class="col-12 view-btn">
                    <a target="_blank" href=@Issue.GithubUrl>
                        <ViewProjectSVG />
                        <div class="col-12 view-project-btn">
                            View
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="col-2 d-flex align-items-center justify-content-start">
        @if (!IsAssigned)
        {
            <div class="row text-center">
                <div class="col-12 view-btn">
                    <a target="_blank" href="" @onclick:preventDefault @onclick="OnAssignCallBack">
                        <TakeSVG />
                        <div class="col-12 view-project-btn">
                            Take
                        </div>
                    </a>
                </div>
            </div>
        }
        else
        {
            @if (!IsPendingReview)
            {
                <div class="row text-center">
                    <div class="col-12 submit-btn">
                        <a target="_blank" href="" @onclick:preventDefault @onclick="OnSubmitPullRequestCallBack">
                            <SubmitPRSVG />
                            <div class="col-12 view-project-btn me-2">
                                Submit
                            </div>
                        </a>
                    </div>
                </div>
            }
            else
            {
                <div class="row text-center">
                    <div class="col-12 submit-btn">
                        <PendingReviewSVG />
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter] public CommunityIssue Issue { get; set; }
    [Parameter] public string Status { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public bool IsAssigned { get; set; }
    [Parameter] public bool IsPendingReview { get; set; }
    [Parameter] public EventCallback OnAssignCallBack { get; set; }
    [Parameter] public EventCallback OnSubmitPullRequestCallBack { get; set; }
}

<style>
    .submit-btn {
        margin-left: -10px;
    }

    .submit-project-btn {
        color: var(--primary-color);
        font-size: 16px;
        font-weight: 600;
    }

    .is-assigned {
        border: darkgoldenrod solid 1px;
    }

    .card-img-top {
        max-width: 50px !important;
    }

    .horizontal-card-issue {
        border-radius: 15px;
        margin: 5px 0 !important;
        transition: all 200ms ease-in-out;
        background-color: var(--card-background-color);
    }

    .card-title-issue {
        padding-left: 10px;
        font-size: 16px;
        font-family: Roboto, sans-serif;
        color: var(--card-button-primary-color);
        font-weight: 600;
    }

    .card-text {
        padding-left: 10px !important;
        margin-top: -15px !important;
    }

    .card-text-complete {
        margin-bottom: -20px;
        font-size: 18px;
        color: green;
        font-weight: 600;
    }

    .card-text-incomplete {
        font-size: 18px;
        color: red;
    }

    .incomplete-project {
        max-width: 80px;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .community-btn {
        width: 150px;
        background-color: var(--primary-color);
        color: white;
    }

    .project-card-text {
        padding-left: 10px !important;
        margin-top: -15px !important;
        margin-bottom: -5px !important;
        color: black !important;
        font-size: 15px;
    }

    .experience-points-issue {
        margin-top: -20px !important;
        font-weight: 600;
    }
</style>
