@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Models

<div class="m-1 row horizontal-card shadow rounded-sm d-flex align-items-center @Status">
    <div class="row g-0 horizontal-card-desktop-project">
        <div class="col-md-2">
            <img src="img/Cards/@Project.IconUrl" width="60" alt="...">
        </div>
        <div class="col-md-4 title-wrapper">
            <p class="card-title-dashboard-project mt-3">@Project.Title</p>
        </div>
        <div class="col-md-3 text-center">
            @if (Status == "completed")
            {
                <CheckCircleSVG />
                <p class="card-text-complete"><small>Completed</small></p>
            }
            else if (Status == "pending-review")
            {
                <PendingReviewSVG />
            }
        </div>
        <div class="col-md-3">
            <div class="row text-center">
                <div class="col-12 view-btn">
                    <a target="_blank" href=@GetUrl()>
                        <ViewProjectSVG />
                        <div class="col-12 view-project-btn">
                            View
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Status { get; set; }
    [Parameter] public Article Project { get; set; }

    private string GetUrl()
    {
        var firstPart = Project.Area == Area.StartHere ? "article" : "project";
        return $"{firstPart}/{Project.Id}/{Project.Slug}";
    }
}

<style>
    .horizontal-card-desktop-project{
        padding: 15px 0 0 10px !important;
    }

    .card-title-dashboard-project {
        font-size: 20px;
        font-family: Roboto, sans-serif;
        color: #1C236D;
        font-weight: 600;
    }

    .view-project-btn {
        color: #1c236d;
        font-size: 16px;
        font-weight: 600;
    }
</style>