@page "/dashboard/submit-project"
@using TCSA.V2.Components.Dashboard.Shared
@layout DashboardLayout
<h1>Submit Project</h1>
<h1>Submit Project</h1>
<h1>Submit Project</h1>
<h1>Submit Project</h1>
<h1>Submit Project</h1>
<h1>Submit Project</h1>

@code {

}
