@inherits LayoutComponentBase

@layout TCSA.V2.Components.Layout.MainLayout

<div class="dashboard-layout-wrapper row vh-100">
    <div class="col-lg-2 d-lg-block col-sm-12 d-sm-none">
        <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>
    </div>
    <div class="col-lg-8 col-sm-12">
        @Body
    </div>
    <div class="col-lg-2 d-lg-block d-sm-none">
        <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>            <p>Course Layout</p>
    </div>
</div>


@code {

}
