@page "/course"

@layout CourseLayout

<p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p><p>Course Page</p>

@code {

}
