@using Microsoft.Extensions.Options
@using TCSA.V2.Components.UI
@using TCSA.V2.Components.UI.SVGs
@using TCSA.V2.Helpers
@rendermode InteractiveServer
@implements IDisposable
@inject NavigationManager NavigationManager
@inject IOptions<LinkProviderOptions> LinkProviderOptions
@inject IJSRuntime JS


<nav class="top-menu navbar navbar-expand-lg shadow fixed-top">
    <div class="container container-nav text-end">
        <a class="navbar-brand" href="#">
            <img width="50" src="img/logo.png" />
        </a>
        <button @onclick="ToggleNavbar" class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img width="50" src="https://css-tricks.com/wp-content/uploads/2012/10/threelines.png" />
        </button>
        <div class="collapse navbar-collapse @(IsNavbarShown ? "show" : "")" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <AuthorizeView Roles="Admin">
                    <a class="nav-link" href="/admin">Admin</a>
                </AuthorizeView>
                <AuthorizeView>
                    <NotAuthorized>
                        <li class="nav-item text-start">
                            <a class="nav-link" href="Account/Register">Register</a>
                        </li>
                        <li class="nav-item text-start">
                            <a class="nav-link" href="Account/Login">Login</a>
                        </li>
                    </NotAuthorized>
                    <Authorized>
                        <li class="nav-item text-start">
                            <a text-start class="nav-link" href="/Dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item text-start">
                            <form method="post" action="Account/Logout">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button type="submit" class="logout nav-link btn btn-link">Log out</button>
                            </form>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 right-side tw-items-center">
                <li class="nav-item text-start">
                    <a class="nav-link blink" target="_blank" href="https://thecsharpschool.getlearnworlds.com/subscription/the-c-academy-membership">VIP Membership</a>
                </li>
                <li class="nav-item text-start">
                    <a class="nav-link" href="https://thegitguy.com/">
                        Blog
                    </a>
                </li>
                <li class="nav-item text-start">
                    <a class="nav-link" href="/leaderboard">Leaderboard</a>
                </li>

                <li class="nav-item text-start">
                    <a class="nav-link" href="/gallery/@isLightMode">Gallery</a>
                </li>

                <li class="nav-item text-start dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Study Areas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item text-start">
                            <a class="nav-link" href="#first-steps-area">First Steps</a>
                        </li>

                        <li class="nav-item text-start">
                            <a class="nav-link" href="#console-area">Console</a>
                        </li>

                        <li class="nav-item text-start">
                            <a class="nav-link" href="#jobs-area">Apply for Jobs</a>
                        </li>

                        <li class="nav-item text-start">
                            <a class="nav-link" href="#mvc-area">MVC</a>
                        </li>

                        <li class="nav-item text-start">
                            <a class="nav-link" href="#angular-area">Angular</a>
                        </li>

                        <li class="nav-item text-start">
                            <a class="nav-link" href="#react-area">React</a>
                        </li>

                        <li class="nav-item text-start">
                            <a class="nav-link" href="#blazor-area">Blazor</a>
                        </li>

                        <li class="nav-item text-start">
                            <a class="nav-link" href="#maui-area">MAUI</a>
                        </li>

                        <li class="nav-item text-start">
                            <a class="nav-link" href="#auth-area">Auth</a>
                        </li>

                        <li class="nav-item text-start">
                            <a class="nav-link" href="#cloud-area">Azure</a>
                        </li>

                        <li class="nav-item text-start">
                            <a class="nav-link" href="#sql-area">SQL</a>
                        </li>

                        <li class="nav-item text-start">
                            <a class="nav-link" href="#challenges-area">Challenges</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item text-start dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Articles
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item text-start">
                            <a class="nav-link" href="article/58/code-conventions">Code Conventions</a>
                        </li>

                        <li class="nav-item text-start">
                            <a class="nav-link" href="article/52/code-reviews">Code Reviews</a>
                        </li>
                        <li class="nav-item text-start">
                            <a class="nav-link" href="article/100/books">Books</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item text-start">
                    <a class="nav-link" target="_blank" href="https://www.instagram.com/pablo.aguirre.dev/">
                        <InstagramSVG />
                    </a>
                </li>
                <li class="nav-item text-start">
                    <a class="nav-link" target="_blank" href="https://www.youtube.com/channel/UCUb14APzNlpUcDElcCEw5OA">
                        <YoutubeSVG />
                    </a>
                </li>

                <li class="nav-item text-start">
                    <a class="nav-link" target="_blank" href="@LinkProviderOptions.Value.DiscordLink">
                        <DiscordSVG />
                    </a>
                </li>
                <li class="nav-item text-start">
                    <a class="nav-link" target="_blank" href="https://www.linkedin.com/school/thecsharpacademy/">
                        <LinkedinSVG />
                    </a>
                </li>
            </ul>
            <button class="btn switchButton" type="button" @onclick="SwitchModeA">
                @if (isLightMode)
                {
                    <img class="m0" src="./img/Switch/light.png" width="40" height="16" />
                }
                else
                {
                    <img class="m0" src="./img/Switch/dark.png" width="40" height="16" />
                }
            </button>
        </div>
    </div>
</nav>

<script>


    var isDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

    function SwitchMode() {
        isDark = !isDark;
        if (isDark) {
            document.body.classList.add('dark-theme');
            return;
        } else {
            document.body.classList.remove('dark-theme');
        }
    }

    window.isDarkMode = function () {
        return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
    }

    window.isLightMode = function () {
        return !isDark;
    }


    window.updateTheme = function () {
        if (isDark) {
            document.body.classList.add('dark-theme');
            return;
        }

        document.body.classList.remove('dark-theme');
    }

    window.updateTheme();

    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', window.updateTheme);

    window.updateTheme();




</script>

@code {
    private string? currentUrl;
    private bool IsNavbarShown { get; set; } = false;
    private bool isLightMode { get; set; }

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        isLightMode = await JS.InvokeAsync<bool>("isLightMode");
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        IsNavbarShown = false;
        StateHasChanged();
    }

    private void ToggleNavbar()
    {
        IsNavbarShown = !IsNavbarShown;
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    public async void SwitchModeA()
    {
        await JS.InvokeVoidAsync("SwitchMode");
        isLightMode = await JS.InvokeAsync<bool>("isLightMode");
        StateHasChanged();
    }
}

<style>
    .top-menu {
        background-color: var(--background-color);
    }

    .right-side {
        margin-left: 250px;
    }

    .nav-link {
        font-size: 16px;
        font-weight: 600;
        font-family: Roboto, sans-serif;
        font-weight: 500 !important;
    }

    .vip-membership-brackets {
        color: red;
    }

    .dropdown-menu {
        border: none;
        padding-left: 20px;
    }

    .logout {
        border: none;
    }

    .blink {
        animation: blinker 1s linear infinite;
    }

    .switchButton {
        border: none;
        padding: 0;
    }
</style>
