@using TCSA.V2.Components.UI
@implements IDisposable
@inject NavigationManager NavigationManager

<nav class="top-menu navbar navbar-expand-lg bg-white shadow fixed-top">
    <div class="container container-nav text-end">
        <a class="navbar-brand" href="#">
            <img width="50" src="img/logo.png" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img width="50" src="https://css-tricks.com/wp-content/uploads/2012/10/threelines.png" />
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                     <AuthorizeView>
                        <NotAuthorized>
                            <li class="nav-item text-start">
                                <a class="nav-link" href="Account/Register">Register</a>
                            </li>
                            <li class="nav-item text-start">
                                <a class="nav-link" href="Account/Login">Login</a>
                            </li>
                            <li class="nav-item text-start">
                                <a text-start class="nav-link" href="/admin/dataseed">Seed</a>
                            </li>
                        </NotAuthorized>
                        <Authorized>
                            <li class="nav-item text-start">
                                <a text-start class="nav-link" href="/Dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item text-start">
                                <form method="post" action="Account/Logout">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                    <button type="submit" class="logout nav-link btn btn-link">Log out</button>
                                </form>
                            </li>
                        </Authorized>
                     </AuthorizeView>
                    <li class="nav-item text-start">
                        <a class="nav-link blink" target="_blank" href="https://thecsharpschool.getlearnworlds.com/subscription/the-c-academy-membership"><span class="vip-membership-brackets">(New!) </span>VIP Membership</a>
                    </li>
                    <li class="nav-item text-start">
                        <a class="nav-link" href="/leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item text-start dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Study Areas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item text-start">
                                <a class="nav-link" href="#first-steps-area">First Steps</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="#console-area">Console</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="#jobs-area">Apply for Jobs</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="#mvc-area">MVC</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="#angular-area">Angular</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="#react-area">React</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="#blazor-area">Blazor</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="#maui-area">MAUI</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="#auth-area">Auth</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="#azure-area">Azure</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="#sql-area">SQL</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="#challenges-area">Challenges</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item text-start dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Articles
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item text-start">
                                <a class="nav-link" href="#first-steps-area">First Steps</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="article/58">Code Conventions</a>
                            </li>

                            <li class="nav-item text-start">
                                <a class="nav-link" href="article/52">Code Reviews</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item text-start">
                        <a class="nav-link" target="_blank" href="https://www.youtube.com/channel/UCUb14APzNlpUcDElcCEw5OA">
                            <YoutubeSVG />
                        </a>
                    </li>

                    <li class="nav-item text-start">
                        <a class="nav-link" target="_blank" href="https://discord.gg/JVnwYdM79C">
                            <DiscordSVG />
                        </a>
                    </li>
                    <li class="nav-item text-start">
                        <a class="nav-link" target="_blank" href="https://www.linkedin.com/school/thecsharpacademy/">
                            <LinkedinSVG />
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

<style>
    .vip-membership-brackets {
        color: red;
    }

    .dropdown-menu {
        border: none;
        padding-left: 20px;
    }

    .logout {
        border: none;
    }
</style>