@page "/"
@using TCSA.V2.Components.Main
@using TCSA.V2.Components.UI
@using TCSA.V2.Helpers
@using TCSA.V2.Models
@using static TCSA.V2.Helpers.Enums

<MainBanner />
<LatestUpdates />
<HowItWorksArea Articles=@Articles />
<FirstStepsArea Articles=@Articles />

<div class="container certificate-container">
    <div class="row d-flex justify-content-center">
        <Card Type=Enums.CardType.Project
              Id=@CertificationProject.Id
              Slug="@CertificationProject.Slug"
              Title=@CertificationProject.Title
              Description=@CertificationProject.Description
              IconUrl=@CertificationProject.IconUrl />
    </div>
</div>

<div class="container w-75">
    <div class="row d-flex justify-content-center title">
        <h1 id="console-area"></h1>
        <img id="console_title" class="area-title" src="img/Titles/console-title.png" />
    </div>
    <div class="row d-flex justify-content-center">
        <Card Type="CardType.Article"
              Id=@ConsoleArticle.Id
              Slug=@ConsoleArticle.Slug
              Title=@ConsoleArticle.Title
              Description=@ConsoleArticle.Description
              IconUrl=@ConsoleArticle.IconUrl />
    </div>
    <div class="row d-flex justify-content-center">

        @foreach (var project in Projects.Where(x => x.Area == Area.Console && x.Id != 52 && x.Id != 75))
        {
            <Card Type="CardType.Project"
            Id=@project.Id
            Slug="@project.Slug"
            Title=@project.Title
            Description=@project.Description
            IconUrl=@project.IconUrl />
        }

        <Card Type=@CardType.Article
        Id=@GraduationArticle.Id
        Slug=@GraduationArticle.Slug
        Title=@GraduationArticle.Title
        Description=@GraduationArticle.Description
        IconUrl=@GraduationArticle.IconUrl />
    </div>
</div>

<div class="container w-75">
    @foreach (var area in Areas)
    {
        <IndexProjectSection Projects=@area.Projects
                             TitleImgUrl=@area.TitleImgUrl
                             Description=@area.Description
                             Id=@area.Id/>
    }
</div>


@code {
    protected List<Project> Projects = new();
    protected List<Article> Articles = new();
    protected List<IndexAreaInfo> Areas = new();
    protected Project CertificationProject = new();
    protected Article ConsoleArticle = new();
    protected Article GraduationArticle = new();

    protected override async Task OnInitializedAsync()
    {
        Articles = ArticleHelper.GetArticles();
        Projects = ProjectHelper.GetProjects();
        CertificationProject = Projects.Single(x => x.Id == 75);
        ConsoleArticle = Articles.Single(x => x.Id == 9);
        GraduationArticle = Articles.Single(x => x.Id == 10);

        GetAreas();
    }

    private void GetAreas()
    {
        var areas = new List<Area> { Area.StartApplying, Area.MVC, Area.Angular, Area.React, Area.Blazor, Area.MAUI, Area.Auth, Area.Azure, Area.SQL, Area.MonthlyChallenge };

        var titles = new List<string>
        {
            "apply-title.png",
            "mvc-title.png",
            "angular-title.png",
            "react-title.png",
            "blazor-title.png",
            "maui-title.png",
            "aa-title.png",
            "azure-title.png",
            "SQL",
            "Challenge Projects",
        };

        var descriptions = new List<string>
        {
            "With these projects, you'll showcase your work and start applying for jobs.",
            "Learn the fundamentals of ASP.NET MVC",
            "Learn how .NET works together with this powerful front-end framework",
            "Learn how .NET works together with this powerful front-end framework",
            "Learn the latest .NET solution for web development",
            "Learn this fantastic technology to build apps for Android, iOS, MacOs and Windows.",
            "Learn to secure applications using .NET/C#",
            "Get started in cloud computing deploying applications to Microsoft's state-of-the-art cloud solution.",
            "Learn the language used to communicate with databases.",
            "Test your knowledge with a monthly challenge provided by a real-world company given to job candidates"
        };

        var ids = new List<string>
        {
            "jobs-area",
            "mvc-area",
            "angular-area",
            "react-area",
            "blazor-area",
            "maui-area",
            "auth-area",
            "cloud-area",
            "sql-area",
            "challenges-area"
        };

        for (int i = 0; i < areas.Count; i++)
        {
            Areas.Add(new IndexAreaInfo
                {
                    Projects = areas[i] == Area.SQL
                        ? Projects.Where(x => x.Area == areas[i] && !x.IsClosed).ToList()
                        : Projects.Where(x => x.Area == areas[i])
                        .ToList(),
                    TitleImgUrl = titles[i],
                    Description = descriptions[i],
                    Id = ids[i]
                });
        }
    }
}

<style>
    .certificate-container {
        background-color: black;
        padding-bottom: 50px;
        padding-top: 50px;
        width: 100% !important;
    }

    .start-applying {
        background-color: #1C236D;
    }
</style>