@using TCSA.V2.Components.UI
@using TCSA.V2.Models
@using static TCSA.V2.Helpers.Enums

<div class="container mt-5">
    <div class="row d-flex justify-content-center text-center title">
        @if (!string.IsNullOrEmpty(TitleImgUrl) && !TitleImgUrl.Contains("."))
        {
            <p class="title">@TitleImgUrl</p>
        }
        else if (!string.IsNullOrEmpty(TitleImgUrl))
        {
            <img class=@(TitleImgUrl.Contains("aa") ? "aa-title" : "area-title") src="img/Titles/@TitleImgUrl" />
        }
        <p id=@AnchorName class="lead">@Description</p>
    </div>
    <div class="row d-flex justify-content-center">
        @foreach (var project in Projects)
        {
            <Card Type=CardType.Project
                  Id=@project.Id
                  Title=@project.Title
                  Description=@project.Description
                  IconUrl=@project.IconUrl />
        }
    </div>
</div>

@code {
    [Parameter] public List<Project> Projects { get; set; }
    [Parameter] public string TitleImgUrl { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public string AnchorName { get; set; }
}

<style>
    .title {
        font-size: 40px;
        font-weight: 600
    }

    .aa-title {
        max-width: 600px;
    }

    .area-title {
        max-width: 250px;
    }
</style>
